<app-post *ngIf="post" [post]="post" [previous]="previous" [next]="next">

    <!-- Article -->
    <ng-container class="article">
        <p>
            There is a time when you want to re-format user data or change it a bit before validating or saving it to
            the database.
            <br>From here the
            <a href="https://medium.com/@abderrahman.hamila/what-sanitize-mean-and-why-sanitize-in-code-data-5c68c9f76164"
                target="blank">
                sanitization
            </a>
            approach appeared.
        </p>
        <div class="alert alert-warning">
            <strong>Note : </strong>Using a sanitizer method will affect the original value of the data-model
            directly.
        </div>
        <div>
            <h2 class="section-heading">
                Examples
                <a id="examples" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <ul>
                <li>
                    <h3>
                        Example 1 :
                        <a id="example1" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <strong>To do : </strong>
                    <i>Convert person's name letters to <strong>upper-case</strong> letters before validating the name
                        property.
                    </i>
                    <p>
                        Let's start with creating a new class called <code>Person</code>.
                    </p>
                    <pre class="code-block">
                        <code appHighlight>{{person1}}</code>
                    </pre>
                    <pre class="code-block">
                        <code appHighlight>{{example1}}</code>
                    </pre>
                </li>
                <li>
                    <h3>
                        Example 2 :
                        <a id="example2" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <strong>To do : </strong>
                    <i>Convert person's name letters to <strong>lower-case</strong> letters before validating the name
                        property.
                    </i>
                    <pre class="code-block">
                        <code appHighlight>{{example2}}</code>
                    </pre>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- End Article -->

</app-post>
