.post-wrapper {
  padding: 0 2rem 2rem 2rem;
  margin-top: calc(#{$top-navbar-height} - #{$main-content-top-spacing});
}

@include screen-max-sm {
  .post-wrapper {
    margin-top: $top-navbar-height;
  }
}
