app-post-section-navigator {
  position: sticky;
  top: calc(#{$top-navbar-height} + #{$main-content-top-spacing});
  right: 0;
  left: auto;
  max-height: calc(100vh - 3rem);
  max-width: $section-nav-width;
  min-width: $section-nav-width;
  margin-left: 1rem;
  overflow-y: auto;
  font-size: 0.75rem;

  .navbar {
    display: block;
    padding-left: 0;
    border-left: 1px solid #eee;

    a {
      color: $anchor-inactive-color;

      &.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

@include screen-max-md {
  app-post-section-navigator {
    display: none;
  }
}
