<div class="row footer">
    <div class="col-12 footer-links">
        <nav class="navbar">
            <div class="nav-item">
                <span class="nav-link section-title">Docs</span>
                <a routerLink="/" class="nav-link">
                    <i class="fa fa-play-circle-o"></i>
                    Getting Started
                </a>
            </div>
            <div class="nav-item">
                <span class="nav-link section-title">Community</span>
                <a href="{{settings.stackOverflow}}" target="blank" class="nav-link">
                    <i class="fa fa-stack-overflow"></i>
                    StackOverflow
                </a>
            </div>
            <div class="nav-item">
                <span class="nav-link section-title">More</span>
                <a href="{{settings.gitHubRepo}}" target="blank" class="nav-link">
                    <i class="fa fa-github"></i>
                    GitHub
                    <a href="{{settings.gitHubRepo + '/stargazers'}}" target="blank" class="badge badge-light">
                        <i class="fa fa-star"></i>
                        {{  (gitHubRepo$ | async)?.stargazers_count}}
                    </a>
                </a>
                <a href="{{settings.nugetPackage}}" target="blank" class="nav-link">
                    <i class="fa fa-download"></i>
                    Nuget
                    <span class="badge badge-light">
                        {{  (nugetPackage$ | async)?.data[0].totalDownloads}}
                    </span>
                </a>
            </div>
        </nav>
    </div>
    <div class="col-12 footer-copy-right">
        Copyright &copy; {{year}} DotNet Validator
    </div>
</div>
