<app-post *ngIf="post" [post]="post" [previous]="previous" [next]="next">

    <!-- Article -->
    <ng-container class="article">
        <p>
            I was working on a backend project that uses the framework <a href="https://expressjs.com/">Express.js</a>
            in a
            <a href="https://nodejs.org">Node.js</a> application and there was a great set of middlewares called
            <a href="https://express-validator.github.io/docs/">Express-Validator</a> that took my heart from the first
            use.
            <br>
            A month after that i was working on a .NET backend and i used to do all data-model validations line-by-line
            property-after-property by my self, and i stopped for a second. <br>
            <i>“Why we don't have a .NET library like this great one?!”</i>.<br>
            So, i decided to start work one a .NET library that makes data-model validation simple & easy to use.
        </p>
    </ng-container>
    <!-- End Article -->

</app-post>
