<app-post *ngIf="post" [post]="post" [previous]="previous" [next]="next">

    <!-- Article -->
    <ng-container class="article">
        <p>
            DotNet Validator is a <a href="https://dotnet.microsoft.com/" target="blank">.NET</a> library
            that contains a set of utility methods which could be used to <code>validate </code> or
            <code>
                <a href="https://medium.com/@abderrahman.hamila/what-sanitize-mean-and-why-sanitize-in-code-data-5c68c9f76164"
                    target="blank">
                    sanitize
                </a>
            </code>
            <a href="https://dotnet.microsoft.com/" target="blank">.NET</a> data-models.
        </p>
        <div>
            <h2 class="section-heading">
                Installation
                <a id="installation" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <p>
                DotNet Validator is a portable
                <a href="https://docs.microsoft.com/en-us/dotnet/standard/net-standard" target="blank">
                    .NET Standard
                </a>
                library that could be used a cross all .NET platforms.
            </p>
            <p>DotNet Validator 1.0.0 uses a
                <a href="https://docs.microsoft.com/en-us/dotnet/standard/whats-new/whats-new-in-dotnet-standard?tabs=csharp#whats-new-in-the-net-standard-20"
                    target="blank">
                    .NET Standard 2.0
                </a>.
                See
                <a href="https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support"
                    target="blank">
                    .NET Standard compatibility.
                </a>
            </p>
            <h3>Install using: </h3>
            <ul class="installation-list">
                <li>
                    <a href="https://marketplace.visualstudio.com/items?itemName=NuGetTeam.NuGetPackageManager"
                        target="blank">
                        Nuget Package Manager
                    </a>:
                    <span class="package-manager-install">
                        <code>Install-Package DotNetValidator -Version 1.0.0</code>
                    </span>
                </li>
                <li>
                    <a href="https://docs.microsoft.com/en-us/dotnet/core/tools/?tabs=netcore2x" target="blank">
                        .NET CLI
                    </a>:
                    <span class="dotnet-cli-install">
                        <code>dotnet add package DotNetValidator --version 1.0.0</code>
                    </span>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="section-heading">
                Basic guid
                <a id="basic-guid" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <p>
                Let's start with creating a new class called <code>Person</code>.
            </p>
            <pre class="code-block">
                <code appHighlight>{{person1}}</code>
            </pre>
            <p>
                Then create an object from the <code>Person</code> class.
            </p>
            <pre class="code-block">
                    <code appHighlight>{{personObj1}}</code>
            </pre>
            <p>
                Now let's validate the model so that the <code>Age</code> value
                should be at least <strong>18</strong> years old.
            </p>
            <p>First we should add DotNet Validator library to our using area.</p>
            <pre class="code-block">
                <code appHighlight>{{usingLib}}</code>
            </pre>
            <pre class="code-block">
                <code appHighlight>{{personValidate1}}</code>
            </pre>
            <p>
                Let's put all code together.
            </p>
            <pre class="code-block">
                <code appHighlight>{{personValidateWithError1}}</code>
            </pre>
            <p>
                Or you can use the other method <code>Result()</code> to get a <code>dynamic</code> errors
                <code>object</code>.
            </p>
            <pre class="code-block">
                <code appHighlight>{{personValidateResult1}}</code>
            </pre>
        </div>
    </ng-container>
    <!-- End Article -->

</app-post>
