<app-post *ngIf="post" [post]="post" [previous]="previous" [next]="next">

    <!-- Article -->
    <ng-container class="article">
        <p>
            Since this is the first release of the DotNet Validator library, we will include all features that has been
            developed with our lib. here.
        </p>
        <div>
            <h2 class="section-heading">
                Features
            </h2>
            <ul>
                <li>
                    A punch of validation utilities to validate .NET data-models.
                </li>
                <li>
                    A punch of sanitization utilities to re-format .NET data-models values before saving it.
                </li>
                <li>
                    DotNet Validator lib. supports
                    <a href="https://docs.microsoft.com/en-us/dotnet/standard/whats-new/whats-new-in-dotnet-standard?tabs=csharp#whats-new-in-the-net-standard-20"
                        target="blank">
                        .NET Standard 2.0
                    </a>
                    to be available a cross a wide range of Microsoft
                    platforms.
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- End Article -->

</app-post>
