/* Theme */
$theme-color: #6b00b1 !default;
$brand-text-font-size: 1.25rem !default;
$anchor-color: #ffffff !default;
$anchor-hover-color: $theme-color !default;
$anchor-inactive-color: #717378 !default;

/* Top Navbar */
$top-navbar-height: 4rem !default;
$top-navbar-brand-img-width: 30px !default;
$top-navbar-brand-img-height: 30px !default;
$top-navbar-color: #ffffff !default;

/* Main Content */
$main-content-top-spacing: 2rem !default;

/* Side Nav */
$side-nav-width: 260px !default;
$side-nav-expanded-bg: #ffffff !default;
$side-nav-section-title-text-color: map-get($theme-colors, "primary") !default;

/* Section Nav */
$section-nav-width: 200px !default;

/* Footer */
$footer-bg: #20232a !default;
$footer-color: #ffffff !default;
