<div class="top-nav fixed-top">
    <nav class="navbar">
        <div class="navbar-brand">
            <a routerLink="">
                <img src="favicon.svg" alt="">
                <span class="brand-text">DotNet Validator</span>
            </a>
            <a routerLink="/versions" class="version">{{ version$ | async}}</a>
        </div>
        <div class="navbar-nav">
            <a href="{{settings.gitHubRepo}}" target="blank" class="nav-link">
                <i class="fa fa-github"></i>
                GitHub
            </a>
            <a href="{{settings.nugetPackage}}" target="blank" class="nav-link">
                <i class="fa fa-download"></i>
                Download
            </a>
            <button class="navbar-toggler" type="button" (click)="onSideNavCollapse()">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </nav>
</div>
