<app-post *ngIf="post" [post]="post" [previous]="previous" [next]="next">

    <!-- Article -->
    <ng-container class="article">
        <p>
            A <code>public class Validator</code> that holds all of validation errors for a given Property under a
            specific data model
            against all validation roles associated with it.
        </p>
        <p>Validator <code>class</code> is the most important part in the DotNet Validator lib.</p>
        <div class="alert alert-warning">
            Although this <code>class</code> is not a static <code>class</code>,
            you can't create a new <code>instance</code> of it
            by your self, because it's <code>constructor</code> is marked as <code>internal</code>.
        </div>
        <div>
            <h2 class="section-heading">
                Members
                <a id="members" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <ul>
                <li>
                    <h3>
                        <code>Create(object data, string propertyName)</code>
                        <a id="create" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <p>
                        A <code>public static Validator method</code> that creates a new <code>Validator</code>
                        that can be used to <code>validate </code> or <code>sanitize</code> the given Property value
                        using some validation or sanitization utility methods under the given data model.
                    </p>
                    <h3>Parameters :</h3>
                    <ul>
                        <li>
                            <code>data</code> : The data model of type object.
                        </li>
                        <li>
                            <code>propertyName</code> : The property name to be validated.
                        </li>
                    </ul>

                    <h3>Returns :</h3>
                    <ul>
                        <li>
                            A new <code>instance</code> of <code>Validator</code> for the given Property under the given
                            data
                            model.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- End Article -->

</app-post>
