<app-post *ngIf="post" [post]="post" [previous]="previous" [next]="next">

    <!-- Article -->
    <ng-container class="article">
        <p>
            An <code>extension</code> sanitization <code>method</code> that creates a custom sanitizer method that
            accepts a <code>generic-type</code> value and returns the same <code>generic-type</code> value that has been
            modified
            using the custom sanitizer.
        </p>
        <div>
            <h2 class="section-heading">
                Definition
                <a id="definition" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <ul>
                <li>
                    <h3>
                        <code>.CustomSanitizer&lt;TSource&gt;(Func&lt;TSource, TSource&gt; customSanitizer)</code>
                    </h3>
                    <h3>Supported data types :</h3>
                    <ul>
                        <li>
                            All data types.
                        </li>
                    </ul>
                    <h3>Parameters :</h3>
                    <ul>
                        <li>
                            <code>customSanitizer</code> : A custom sanitizer
                            that accepts an <code>TSource</code> value and returns a new <code>TSource</code> value
                            that has been modified.
                        </li>
                    </ul>

                    <h3>Returns :</h3>
                    <ul>
                        <li>
                            A <code>Validator</code> to add more <code>validation</code> or <code>sanitization</code>.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="section-heading">
                Examples
                <a id="examples" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <ul>
                <li>
                    <h3>
                        Example 1 :
                        <a id="example1" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <strong>To do : </strong>
                    <i>Convert the person's country code to upper-case before validation.
                    </i>
                    <p>
                        Let's start with creating a new class called <code>Person</code> and a class called
                        <code>Country</code>.
                    </p>
                    <pre class="code-block">
                        <code appHighlight>{{person1}}</code>
                    </pre>
                    <pre class="code-block">
                        <code appHighlight>{{country1}}</code>
                    </pre>
                    <pre class="code-block">
                        <code appHighlight>{{example1}}</code>
                    </pre>
                </li>
                <li>
                    <h3>
                        Example 2 :
                        <a id="example2" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <strong>To do : </strong>
                    <i>Convert the person's country name to lower-case before validation.
                    </i>
                    <pre class="code-block">
                        <code appHighlight>{{example2}}</code>
                    </pre>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- End Article -->

</app-post>
