.side-nav {
  position: sticky;
  top: $top-navbar-height;
  max-height: calc(100vh - #{$top-navbar-height});
  min-height: calc(100vh - #{$top-navbar-height});
  max-width: $side-nav-width;
  min-width: $side-nav-width;
  padding-top: calc(#{$top-navbar-height} - #{$main-content-top-spacing});
  overflow-y: auto;

  .navbar {
    display: block;

    .nav-item {
      margin-bottom: 1rem;
    }

    .section-title {
      font-size: 1rem;
      color: $side-nav-section-title-text-color;
    }

    a {
      color: $anchor-inactive-color;

      &:hover {
        color: $anchor-hover-color;
      }

      &.active {
        color: $anchor-hover-color;
        code {
          color: $anchor-hover-color;
          font-weight: bold;
        }
      }
    }
  }
}

@include screen-max-md {
  .side-nav {
    position: fixed;
    left: 0;
    min-width: 100%;
    min-height: 100vh;
    background-color: $side-nav-expanded-bg;
    z-index: 100;

    .navbar {
      /* To show the last links in mobile devices */
      margin-bottom: 10rem;
    }

    &.collapsed {
      display: none;
    }
  }
}
