.top-nav {
  background-color: $theme-color;
  color: $top-navbar-color;
  min-height: $top-navbar-height;

  .navbar {
    a:hover {
      color: $top-navbar-color;
    }

    .navbar-brand {
      img {
        vertical-align: top;
        margin-right: 1rem;
        width: $top-navbar-brand-img-width;
        height: $top-navbar-brand-img-height;
      }

      .brand-text {
        margin: 0 1rem;
        font-size: $brand-text-font-size;
        font-weight: bold;
        display: none;
      }

      .version {
        text-decoration: underline;
      }
    }

    .navbar-toggler {
      color: inherit;
      border: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .navbar-nav {
      flex-direction: row;

      .nav-link {
        padding: 0.5rem 1rem;
      }
    }
  }
}

@include screen-min-md {
  .top-nav {
    .navbar {
      .navbar-brand {
        img {
          margin-right: 0;
        }

        .brand-text {
          display: inline-block;
        }
      }

      .navbar-toggler {
        display: none;
      }
    }
  }
}
