<app-post *ngIf="post" [post]="post" [previous]="previous" [next]="next">

    <!-- Article -->
    <ng-container class="article">
        <p>
            An <code>extension</code> validation <code>method</code> checks if the property's value contains the given
            string value,
            or at least one value from the given array of values.
        </p>
        <div>
            <h2 class="section-heading">
                Two Definitions
                <a id="definitions" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <ol>
                <li>
                    <h3>
                        <code>.Contains(string str, string errorMessage = null)</code>
                    </h3>
                    <h3>Supported data types :</h3>
                    <ul>
                        <li>
                            Strings.
                        </li>
                    </ul>
                    <h3>Parameters :</h3>
                    <ul>
                        <li>
                            <code>str</code> : A <code>string</code> value that the property's value should contains.
                        </li>
                        <li>
                            <code>errorMessage</code> : An optional validation error message.
                            <br><i>If omitted, a default error message will be used</i>.
                        </li>
                    </ul>

                    <h3>Returns :</h3>
                    <ul>
                        <li>
                            A <code>Validator</code> to add more <code>validation</code> or <code>sanitization</code>.
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>
                        <code>.Contains(string errorMessage = null, TParam[] strs)</code>
                    </h3>
                    <h3>Supported data types :</h3>
                    <ul>
                        <li>
                            All <a href="https://www.programiz.com/csharp-programming/variables-primitive-data-types"
                                target="blank">primitive data types</a>.
                        </li>
                    </ul>
                    <h3>Parameters :</h3>
                    <ul>
                        <li>
                            <code>errorMessage</code> : An optional validation error message.
                            <br><i>If omitted, a default error message will be used</i>.
                        </li>
                        <li>
                            <code>strs</code> :The values that the property's value should contains one at least.
                        </li>
                    </ul>

                    <h3>Returns :</h3>
                    <ul>
                        <li>
                            A <code>Validator</code> to add more <code>validation</code> or <code>sanitization</code>.
                        </li>
                    </ul>
                </li>
            </ol>
        </div>
        <div>
            <h2 class="section-heading">
                Examples
                <a id="examples" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <ul>
                <li>
                    <h3>
                        Example 1 :
                        <a id="example1" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <strong>To do : </strong>
                    <i>Validate that the person's name should contains the value `Mr`.
                    </i>
                    <p>
                        Let's start with creating a new class called <code>Person</code>.
                    </p>
                    <pre class="code-block">
                        <code appHighlight>{{person1}}</code>
                    </pre>
                    <pre class="code-block">
                        <code appHighlight>{{example1}}</code>
                    </pre>
                </li>
                <li>
                    <h3>
                        Example 2 :
                        <a id="example2" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <strong>To do : </strong>
                    <i>Validate that the person's name contains at least on of the values
                        <code>[</code>"Mister"<code>,</code> "Mr"<code>,</code> "Missis"<code>,</code>
                        "Mrs"<code>]</code>.
                    </i>
                    <pre class="code-block">
                        <code appHighlight>{{example2}}</code>
                    </pre>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- End Article -->

</app-post>
