<app-post *ngIf="post" [post]="post" [previous]="previous" [next]="next">

    <!-- Article -->
    <ng-container class="article">
        <p>
            An <code>extension</code> validation <code>method</code> that skips all of the following validations if the
            property's value was null.
        </p>
        <div>
            <h2 class="section-heading">
                Definition
                <a id="definition" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <ul>
                <li>
                    <h3>
                        <code>.Optional()</code>
                    </h3>
                    <h3>Supported data types :</h3>
                    <ul>
                        <li>
                            All data types.
                        </li>
                    </ul>
                    <h3>Parameters :</h3>
                    <ul>
                        <li>
                            No parameters.
                        </li>
                    </ul>

                    <h3>Returns :</h3>
                    <ul>
                        <li>
                            A <code>Validator</code> to add more <code>validation</code> or <code>sanitization</code>.
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div>
            <h2 class="section-heading">
                Examples
                <a id="examples" aria-hidden="true" class="section-heading-ref"></a>
            </h2>
            <ul>
                <li>
                    <h3>
                        Example 1 :
                        <a id="example1" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <strong>To do : </strong>
                    <i>Validate that the person's name length is more than 20 characters.
                    </i>
                    <p>
                        Let's start with creating a new class called <code>Person</code>.
                    </p>
                    <pre class="code-block">
                        <code appHighlight>{{person1}}</code>
                    </pre>
                    <pre class="code-block">
                        <code appHighlight>{{example1}}</code>
                    </pre>
                </li>
                <li>
                    <h3>
                        Example 2 :
                        <a id="example2" aria-hidden="true" class="section-heading-ref"></a>
                    </h3>
                    <strong>To do : </strong>
                    <i>Validate that the person's name length is more than 20 characters, but make this property
                        optional.
                    </i>
                    <pre class="code-block">
                        <code appHighlight>{{example2}}</code>
                    </pre>
                </li>
            </ul>
        </div>
    </ng-container>
    <!-- End Article -->

</app-post>
